In [ ]:
#upload data from external source(by upload)
from google.colab import files
uploaded = files.upload()

Saving superstore_orders.csv to superstore_orders.csv

In [ ]:
#import library
import pandas as pd
import numpy as np

In [ ]:
#read data csv to dataframe
superstore_data = pd.read_csv('superstore_orders.csv', sep=';')

In [ ]:
#melihat 10 data teratas dari dataframe
superstore_data.head(10)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2020-152156,08/11/20,11/11/20,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2020-152156,08/11/20,11/11/20,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2020-138688,12/06/20,16/06/20,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2019-108966,11/10/19,18/10/19,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2019-108966,11/10/19,18/10/19,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
5,6,CA-2018-115812,09/06/18,14/06/18,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
6,7,CA-2018-115812,09/06/18,14/06/18,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4,0.00,1.9656
7,8,CA-2018-115812,09/06/18,14/06/18,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,0.20,90.7152
8,9,CA-2018-115812,09/06/18,14/06/18,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.5040,3,0.20,5.7825
9,10,CA-2018-115812,09/06/18,14/06/18,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5,0.00,34.4700

In [ ]:
superstore_data.info() #melihat informasi data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          9994 non-null   int64
 1   Order ID        9994 non-null   object
 2   Order Date      9994 non-null   object
 3   Ship Date       9994 non-null   object
 4   Ship Mode       9994 non-null   object
 5   Customer ID     9994 non-null   object
 6   Customer Name   9994 non-null   object
 7   Segment         9994 non-null   object
 8   Country/Region  9994 non-null   object
 9   City            9994 non-null   object
 10  State           9994 non-null   object
 11  Postal Code     9983 non-null   float64
 12  Region          9994 non-null   object
 13  Product ID      9994 non-null   object
 14  Category        9994 non-null   object
 15  Sub-Category    9994 non-null   object
 16  Product Name    9994 non-null   object
 17  Sales           9994 non-null   float64
 18  Quantity        9994 non-null   int64
 19  Discount        9994 non-null   float64
 20  Profit          9994 non-null   float64
dtypes: float64(4), int64(2), object(15)
memory usage: 1.6+ MB

In [ ]:
#change data type of 'Order Data' from object to datetime
superstore_data['Order Date'] = superstore_data["Order Date"].astype('datetime64[ns]')

In [ ]:
print(superstore_data['Order Date'].dtypes) #re-check data type of order date

datetime64[ns]

In [ ]:
#melihat 5 data teratas dari dataframe
superstore_data.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2020-152156,2020-08-11,11/11/20,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2020-152156,2020-08-11,11/11/20,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2020-138688,2020-12-06,16/06/20,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2019-108966,2019-11-10,18/10/19,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2019-108966,2019-11-10,18/10/19,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [ ]:
#menambah kolom data 'tahun' diambil dari order date
superstore_data['Order Date_Year'] = pd.DatetimeIndex(superstore_data['Order Date']).year
superstore_data.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Order Date_Year
0,1,CA-2020-152156,2020-08-11,11/11/20,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,2020
1,2,CA-2020-152156,2020-08-11,11/11/20,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,2020
2,3,CA-2020-138688,2020-12-06,16/06/20,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,2020
3,4,US-2019-108966,2019-11-10,18/10/19,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,2019
4,5,US-2019-108966,2019-11-10,18/10/19,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,2019

## How much sales do we have on 2018? (Based on order date) 

---



---

In [ ]:
#mendapatkan total penjualan berdasarkan Tahun 
total_sales_by_year  = superstore_data.groupby(['Order Date_Year'] )['Sales'].sum().reset_index()
total_sales_by_year

   Order Date_Year        Sales
0             2018  484247.4981
1             2019  470532.5090
2             2020  609205.5980
3             2021  733215.2552

In [ ]:
#Total sales in 2018
total_sales_in_2018 = total_sales_by_year[total_sales_by_year['Order Date_Year'] == 2018] 
total_sales_in_2018

   Order Date_Year        Sales
0             2018  484247.4981

## Which year has the highest profit? (Based on order date) 

---



---

In [ ]:
#menghitung total profit per tahun (based on order date)
total_profit_by_year  = superstore_data.groupby(['Order Date_Year'])['Profit'].sum().reset_index()
#sort total profit from highest to lowest
total_profit_by_year.sort_values(by='Profit', ascending=False)

   Order Date_Year      Profit
3             2021  93439.2696
2             2020  81795.1743
1             2019  61618.6037
0             2018  49543.9741

## Which sub category has minus profit?

---



---

In [ ]:
# Get Data with minus profit or less than 0
minus_profit = superstore_data[superstore_data['Profit'] < 0]
minus_profit.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Order Date_Year
3,4,US-2019-108966,2019-11-10,18/10/19,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,2019
14,15,US-2019-118983,2019-11-22,26/11/19,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,...,Central,OFF-AP-10002311,Office Supplies,Appliances,Holmes Replacement Filter for HEPA Air Cleaner...,68.8100,5,0.80,-123.8580,2019
15,16,US-2019-118983,2019-11-22,26/11/19,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,...,Central,OFF-BI-10000756,Office Supplies,Binders,Storex DuraTech Recycled Plastic Frosted Binders,2.5440,3,0.80,-3.8160,2019
23,24,US-2021-156909,2021-07-16,18/07/21,Second Class,SF-20065,Sandra Flanagan,Consumer,United States,Philadelphia,...,East,FUR-CH-10002774,Furniture,Chairs,"Global Deluxe Stacking Chair, Gray",71.3720,2,0.30,-1.0196,2021
27,28,US-2019-150630,2019-09-17,21/09/19,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,Philadelphia,...,East,FUR-BO-10004834,Furniture,Bookcases,"Riverside Palais Royal Lawyers Bookcase, Royal...",3083.4300,7,0.50,-1665.0522,2019

In [ ]:
#show sub category with minus_profit
sub_category_minus_profit = minus_profit[['Sub-Category','Profit']]
sub_category_minus_profit

     Sub-Category     Profit
3          Tables  -383.0310
14     Appliances  -123.8580
15        Binders    -3.8160
23         Chairs    -1.0196
27      Bookcases -1665.0522
...           ...        ...
9920      Binders   -35.8176
9921      Binders    -4.5936
9931    Bookcases   -40.1960
9937       Tables    -1.7772
9962    Bookcases   -67.6704

[1871 rows x 2 columns]

In [ ]:
#get array of sub category that have minus profit with (unique method)
arr_sub_category = np.array(pd.unique(sub_category_minus_profit['Sub-Category']))
arr_sub_category_sort = np.sort(arr_sub_category) #sort alphabetically 
print(arr_sub_category_sort )

['Accessories' 'Appliances' 'Binders' 'Bookcases' 'Chairs' 'Fasteners'
 'Furnishings' 'Machines' 'Phones' 'Storage' 'Supplies' 'Tables']

In [ ]:
#convert a NumPy array into a comma separated string
for i in range(0,len(arr_sub_category_sort)):
    print(arr_sub_category_sort[i],end="")
    if(i+1!=len(arr_sub_category_sort)):
        print(",",end="")

Accessories,Appliances,Binders,Bookcases,Chairs,Fasteners,Furnishings,Machines,Phones,Storage,Supplies,Tables

![image.png]()

In [ ]:
#multiplication array
#first array (array A)
array_A = [[1,2,3],
    [4,5,6],
    [7,8,9]]
# second array (array B)
array_B = [[2,3,4],
    [5,6,7],
    [8,9,10]]

#result in matrix ordo 3x3
result = [[0,0,0,],
         [0,0,0,],
         [0,0,0,]]
        
for i in range(len(array_A)):
   for j in range(len(array_B[0])):
       for k in range(len(array_B)):
           result[i][j] += array_A[i][k] * array_B[k][j]

for result in result:
   print(result)

[36, 42, 48]
[81, 96, 111]
[126, 150, 174]

## Let's say we have loop function to calculate sum of all numbers from 1 to a given number. What is the result of sum if we input 100? 

---



---

In [ ]:
sum = 0

n = int(input('Input Number (minimum number is 1) : '))

for i in range(1, n+1):
    sum = sum + i
print(sum)

Input Number (minimum number is 1) : 100
5050